[user]
	email = felytic@gmail.com
	name = felytic
[alias]
	co = checkout
	pl = pull
	rb = rebase
	b = branch -vv
	p = push
	c = commit
	s = status -s
	a = add
	d = diff
	r = reset
	m = merge
[core]
	editor = vim
